***Logical user-defined functions***


In Python are functions that perform logical operations and return 

boolean values (True or False). These functions are used to 

encapsulate conditions, checks, or validations that can be reused 

throughout a program. They are defined using the def keyword and 

typically include logical expressions and conditions within their 

bodies.

Example1:
checking even number

In [2]:
def evenOdd( x ): 
    if (x % 2 == 0): 
        print("even")
    else: 
        print("odd")

In [3]:
evenOdd(9) 
evenOdd(8)

odd
even

Example 2

Computes Kelvin from Fahrenheit! Kelvin is converted to Fahrenheit 

by:

K=(F−32.0)×5/9 + 273.1

In [5]:
def faharenheit_to_kelvin(F):
    k=(F-32.0)*5/9+273.1
    return k
faharenheit_to_kelvin(38)

276.43333333333334

Example 3

Checking if a Number is Prime

In [6]:
def is_prime(number):

    if number <= 1:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True

In [7]:
print(is_prime(2))
print(is_prime(4))

True
False

EXample 4

In [10]:
#Example 6

#To make list of Students (First Name, Last Name)

def student(firstname, lastname): 
    print(firstname, lastname) 

student(firstname ='abc', lastname ='abcd') 
student(lastname ='abcd', firstname ='abc')

abc abcd
abc abcd

Example 5

Check if a year is a leap year

A year is a leap year if it is divisible by 4. However, if the year is also divisible by 100, it is not a leap year unless it is also divisible by 400.

In [11]:
def leap_year(year):
    return (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0)

print(leap_year(2020))  
print(leap_year(1900))

True
False

Example 6

Logical AND operation between two booleans

In [12]:
def logical_and(a, b):
    return a and b

print(logical_and(True, False))  
print(logical_and(True, True))

False
True

Example 7

Logical OR operation between two booleans

In [13]:
def logical_or(a, b):
    return a or b

print(logical_or(True, False))  
print(logical_or(False, False))

True
False

In [15]:
#Example 8

#Check if a string contains only digits

def is_digit_only(s):
    return s.isdigit()

print(is_digit_only("12345"))   
print(is_digit_only("123a5"))

True
False

Example 9

Computes Celsius form Fahrenheit!

C = (F - 32) × 5/9

In [17]:
def fahrenheit_to_celsius(F):
    
    C = (F - 32)*(5/9)
    
    return C

fahrenheit_to_celsius(45)

7.222222222222222

In [21]:
#Example 10

#computes Celsius from Kelvin! Celsuis is converted to Kelvin by:

#C = K − 273.15

def kelvin_to_celsius(K):
    
    C = K - 273.15
    
    return C

kelvin_to_celsius(100)

-173.14999999999998