For sequential traversal . for traversal list ,string,tuple etc.

In [2]:
nums=[1,2,3,4,5]
for val in nums:
    print(val)

1
2
3
4
5

In [3]:
tup=(1,2,3,4,5,6,7,8,9)
for num in tup:
    print(num)

1
2
3
4
5
6
7
8
9

In [5]:
str="aishwarya"
for charc in str:
    print(charc)

a
i
s
h
w
a
r
y
a

In [17]:
str="aishwarya"
for char in str:
    if (char =='h'):
        print("h fond")
print("End")

h fond
End

In [18]:
#print the elements of the following list using a loop

In [19]:
l=[1,4,9,16,25,49,64,81,100]
for i in l:
    print(i)

1
4
9
16
25
49
64
81
100

In [20]:
#search for a number x in this tuple using loop

In [30]:
l=[1,4,9,16,25,49,64,81,100,16]
x=16
idx=0
for i in l:
    if (i==x):
        print("number found at idx",idx)
        break
    idx+=1

number found at idx 3

In [31]:
#write a program to print first 10 natural number

In [32]:

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [33]:
#write a program to first 10 even numbers in reverse order

In [34]:
for i in range(20,1,-2):
    print(i)

20
18
16
14
12
10
8
6
4
2

In [35]:
#write a program to disply produt of the factorial of a number

In [42]:
n=5
f=1
for i in range(1,n+1):
    f=f*i
print(f)

120

In [43]:
#write a program to find the sum of the digits of the factorial of a number accepted form user

In [45]:
num=int(input())
s=0
while(num):
    r=num%10
    s=s+r
    num=num//10
print("sum of digits is ",s)

234
sum of digits is  9